{% extends "template.html" %}
{% block title %} Subscribe to the newsletter {% endblock %}
{% block  content %}
      <form action="/mailhandler" method="POST">
        <label for="myMail">
          <strong> Subscribe to our newsletter</strong>
        </label>
        <input type="text" name="myMail" />
        <button type="submit">Subscribe</button>
      </form>
      <div class="charge"><p>Loading your request, please wait ... </p> 
        <img src="../static/img/loading.gif" class="loading" />
      </div>
    </div>
    <script>
      document.querySelector("button").addEventListener("click", show);
      function show() {
        document.querySelector(".charge").style.display = "block";
      }
    </script>
    {% endblock %}

